.popup-overlay {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.7);

    backdrop-filter: blur(5px);

    .popup-card {
        height: auto;
        width: 95%;
        max-height: 95vh;
        max-width: 1340px;
        background-color: #f0f0f0;
        border-radius: 10px;
        font-size: 14px;
        padding: 1rem;
        
        .top-info {
            position: relative;
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
        }

        .bottom-info {
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;

            .more-info {
                display: flex;
                gap: 3rem;

                .info {
                    span {
                        display: block;

                        &:first-child {
                            color: #777;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 1rem;

                .like-btn {
                    display: grid;
                    place-items: center;
                    border-radius: 3px;
                    width: 45px;
                    height: 45px;
                    border: 1px solid #777;
                    color: #777;
                    cursor: pointer;
                }

                .download-btn {
                    text-decoration: none;
                    padding: 0.7rem 1rem;
                    background-color: #00ab6b;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        .img {
            display: grid;
            width: 90%;
            // height: ;
            max-height: 90vh;
            // background-color: #aaa;
            margin: auto;
            place-items: center ;


            img {
                max-width: 100%;
                max-height: 75vh;
            }
        }
    }

}